*.wav
/test/codec/**/
!/test/codec/sample1_16k.wav
!/test/codec/sample2_22k.wav
!/test/codec/sample3_48k.wav
!/test/codec/sample4_16k.wav
!/test/codec/sample5_16k.wav
!/test/codec/sample6_48k.wav
!/test/codec/sample7_16k.wav
!/test/codec/sample8_16k.wav
!/test/codec/sample9_48k.wav
!/test/codec/sample10_16k.wav