table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;

  :last-child {
    border-right: 0;
  }
}
